/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: rgb(202, 226, 210);
  color: rgb(6, 40, 6);
  font-family: "Times New Roman", Times;
}

.nav-bar {
  list-style-type: none;
  display : flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgb(93, 178, 145);
  background-color: rgb(45, 98, 46);
  color: White;
  min-height: 40px;
  max-height: 50px;
  align-items: center;
  border-radius: 15px;
}

a:active {
  color: purple;
}

.image-centering {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.inLineLink {
 color: rgb(45, 98, 46); 
}


hr {
  display: flex;
  height: 2px;
  background: rgb(45, 98, 46);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.padding { 
 padding-left: 20px; 
}

details {
  padding-left: 40px;
  padding-top: 10px;
}

table { 
  text-align: center;
  /*- border neads width, style, and color */
  border: 2px solid rgb(45, 98, 46);
  width: 80%;
  /*Centers Table*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

th, td {
  border: 2px solid rgb(45, 98, 46);
  text-align: center;
  border-collapse: collapse;
}

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid rgb(45, 98, 46);
  border-bottom: none;
}
  

/* This creates a space between the sub-lists that appear below the tag that I added it to, that way I did not have to call the class for each li tag betlow our initial ul tag*/
.resume-list > li {
  margin-bottom: 15px;
}

a {
  color: White;
}

.catPictures > img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.rickRoll {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

summary {
  font-size: 18px;
  
}

.nav:hover {
  box-shadow: 0 2px 4px rgb(45, 100, 45);
  background-color: rgb(0, 40, 40);
  border-radius: 15px;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

.slide-left {
	-webkit-animation: slide-left 0.5s ease-in both;
	        animation: slide-left 0.5s ease-in both;
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.4s ease-in both;
	        animation: scale-up-center 0.4s ease-in both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-2-4 9:7:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  50% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  75% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}